<ng-container *ngIf="itemData">
   <a class="item" [routerLink]="'/movie-details/'+itemData.id">
      <div class="item-rating">
         <i class="app-icon">star</i>
         <span>{{ itemData.vote_average| number : '1.0-1' }}</span>/10
      </div>
      <div class="item-image">
         <img *ngIf="itemData.poster_path!=null" [src]="imagesSizes.medium + itemData.poster_path"
              [alt]="itemData.title"/>
         <img *ngIf="itemData.poster_path==null" [src]="imagesSizes.medium + itemData.backdrop_path"
              [alt]="itemData.title"/>
      </div>
      <div class="item-title">
         {{ itemData.title }}
         <span *ngIf="itemData.release_date" class="ml-2"> ({{itemData.release_date|date:'yyyy'}})</span>
      </div>
   </a>
</ng-container>


<ng-container *ngIf="tvItemData">
   <a class="item" [routerLink]="'/tv-shows-details/'+tvItemData.id">
      <div class="item-rating">
         <i class="app-icon">star</i>
         <span>{{ tvItemData.vote_average| number : '1.0-1' }}</span>/10
      </div>
      <div class="item-image">
         <img *ngIf="tvItemData.poster_path!=null" [src]="imagesSizes.medium + tvItemData.poster_path"
              [alt]="tvItemData.title"/>
         <img *ngIf="tvItemData.poster_path==null" [src]="imagesSizes.medium + tvItemData.backdrop_path"
              [alt]="tvItemData.title"/>
      </div>
      <div class="item-title">
         {{ tvItemData.name }}
         <span *ngIf="tvItemData.first_air_date" class="ml-2"> ({{tvItemData.first_air_date|date:'yyyy'}})</span>
      </div>
   </a>
</ng-container>
