@import '../../../styles/colors';

.slider {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 35rem;
   position: relative;

   .slide {
      position: absolute;
      width: 100%;
      display: flex;
      height: 35rem;

      &-bg {
         position: relative;
         display: flex;
         flex: 1 1 auto;

         &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            content: '';

            background-image: linear-gradient(
                  90deg,
                  rgba(0, 0, 0, 1) 0%,
                  rgba(0, 0, 0, 1) 11%,
                  rgba(255, 255, 255, 0) 100%
            );
         }

         &-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
         }
      }

      &-pane {
         position: absolute;
         width: 45%;
         top: 5rem;
         left: 5rem;

         .name {
            font-size: 2.8rem;
         }

         .meta {
            font-size: 1.4rem;
            color: $lightGray;

            .info {
               display: flex;

               > span {
                  &:not(:last-child):after {
                     content: '|';
                     margin-right: 9px;
                     margin-left: 9px;
                  }
               }

               .rating {
                  display: flex;
                  align-items: center;

                  .app-icon {
                     margin-right: 5px;
                     color: #d4af37;
                  }

                  &-value {
                     color: $white;
                  }
               }
            }
         }

         .desc {
            font-size: 1.2rem;
            line-height: 1.6;
         }
      }
   }

}
