<ng-container *ngIf="movie">
   <app-slider [items]="[movie]" [isBanner]="true"></app-slider>

   <p-tabView>
      <p-tabPanel header="Overview">
         <div class="grid">
            <div class="col-12 md:col-3 lg:col-3">
               <img class="poster" [src]="imagesSizes.medium+movie.poster_path" [alt]="movie.title">
            </div>
            <div class="col-12 md:col-9 lg:col-9">
               <h2>Overview</h2>
               <p class="overview">{{movie.overview}}</p>
               <div class="stat">
                  <div class="label">Release Date:</div>
                  <div class="value">{{movie.release_date|date:'mediumDate'}}</div>
               </div>
               <div class="stat">
                  <div class="label">Language:</div>
                  <div class="value">{{movie.original_language|uppercase}}</div>
               </div>
               <div class="stat">
                  <div class="label">Budget:</div>
                  <div class="value">{{movie.budget|currency:'USD':'symbol':'4.2-2'}}</div>
               </div>
               <div class="stat">
                  <div class="label">Revenue:</div>
                  <div class="value">{{movie.revenue|currency:'USD':'symbol':'4.2-2'}}</div>
               </div>
               <div class="stat">
                  <div class="label">Duration:</div>
                  <div class="value">{{movie.runtime}} min</div>
               </div>
               <div class="stat">
                  <div class="label">Status:</div>
                  <div class="value">{{ movie.status }}</div>
               </div>
               <div class="stat">
                  <div class="label">Genres:</div>
                  <div class="value">
                     <span *ngFor="let genre of movie.genres">
                        {{ genre.name }}
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </p-tabPanel>
      <p-tabPanel header="Videos">
         <div class="grid">
            <ng-container *ngFor="let movieVideo of movieVideos">
               <div class="col-12 md:col-4 lg:col-4">
                  <app-video-embed [key]="movieVideo.key" [site]="movieVideo.site"></app-video-embed>
               </div>
            </ng-container>
         </div>
      </p-tabPanel>
      <p-tabPanel header="Photos">
         <div class="grid">
            <ng-container *ngFor="let movieImage of movieImages?.backdrops">
               <div class="col-12 md:col-4 lg:col-4">
                  <p-image
                     [src]="imagesSizes.large + movieImage.file_path"
                     alt="Image"
                     width="100%"
                     [preview]="true"
                  ></p-image>
               </div>
            </ng-container>
         </div>
      </p-tabPanel>
   </p-tabView>

   <p-carousel [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" *ngIf="movieCredits" [value]="movieCredits.cast">
      <ng-template pTemplate="header">
         <h3 class="header">Cast</h3>
      </ng-template>
      <ng-template let-actor pTemplate="item">
         <div class="actor">
            <img [src]="imagesSizes.medium + actor.profile_path" alt="" />
            <span>{{ actor.name }}</span>
         </div>
      </ng-template>
   </p-carousel>

   <div class="container">
      <h1 class="">Related Movies</h1>
      <div class="grid">
         <div class="col-2 md:col-6 lg:col-2" *ngFor="let item of similarMovies">
            <app-item [itemData]="item"></app-item>
         </div>
      </div>
   </div>

</ng-container>

