@import '../../../styles/colors';

:host ::ng-deep {
   .p-tabview-nav {
      justify-content: center;

      li {
         .p-tabview-nav-link {
            background: $bgColor;
         }

         &.p-highlight .p-tabview-nav-link {
            background: $bgColor;
         }
      }
   }
}

.poster {
   max-width: 100%;
}

.overview {
   line-height: 1.5;
}

.stat {
   display: flex;
   margin-bottom: 15px;

   .label {
      width: 150px;
      font-weight: bold;
   }

   .value {
      color: $primaryColor;

      span {
         border-radius: 5px;
         border: 1px solid #e8e5e5;
         margin-right: 5px;
         padding: 2px 2px 2px 5px;
         text-align: center;
      }
   }
}

.header {
   margin-left: 50px;
}

.actor {
   padding: 10px;

   img {
      width: 100%;
   }

   span {
      display: block;
      text-align: center;
      margin: 10px 0;
   }
}

