<header>
   <nav class="navbar">
      <a href="" class="navbar-logo">
         <img src="assets/images/logo.png" alt="" />
      </a>
      <ul class="navbar-links">
         <li><a routerLink="/"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
         <li><a routerLink="/movies"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Movies</a></li>
         <li><a routerLink="/tvshows"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">TV Shows</a></li>
         <li><a routerLink="/genres"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Genres</a></li>
      </ul>
   </nav>
</header>
