<app-slider [items]="popularMovies"></app-slider>

<app-items-banner [items]="nowPlayingMovies" title="Now Playing Movies"></app-items-banner>
<app-items-banner [items]="topRatedMovies" title="Top Rated Movies"></app-items-banner>
<app-items-banner [tvItems]="topRatedTVShows" title="Top Rated TV Shows"></app-items-banner>
<app-items-banner [tvItems]="onTheAirTvShows" title="On Air TV Shows"></app-items-banner>
<app-items-banner [items]="upcomingMovies" title="Upcoming Movies"></app-items-banner>

