@import '../../../styles/colors';

.genre-link {
   display: flex;
   width: 100%;
   height: 50px;
   background-color: $primaryColor;
   color: $bgColor;
   font-size: 1.6rem;
   justify-content: center;
   align-items: center;
}
