<div class="container">
   <h1>Movies Genres</h1>
   <div class="grid">
      <div *ngFor="let genre of genres" class="col-6 md:col-3 lg:col-2">
         <a class="genre-link" [routerLink]="'/movies/genres/' + genre.id">{{ genre.name }}</a>
      </div>
   </div>
</div>
<div class="container">
   <h1>TV Shows Genres</h1>
   <div class="grid">
      <div *ngFor="let genre of tvGenres" class="col-6 md:col-3 lg:col-2">
         <a class="genre-link" [routerLink]="'/tv-shows/genres/' + genre.id">{{ genre.name }}</a>
      </div>
   </div>
</div>
