@import '../../../styles/colors';

footer {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem 1rem;
   height: 65px;
   background-color: $bgColorLight;
   margin: 0;
}
