<div class="container">
   <h1 class="">{{title}}</h1>
   <ng-container *ngIf="items">
      <div class="grid">
         <div class="col-2 md:col-6 lg:col-2" *ngFor="let item of items">
            <app-item [itemData]="item"></app-item>
         </div>
      </div>
   </ng-container>
   <ng-container *ngIf="tvItems">
      <div class="grid">
         <div class="col-2 md:col-6 lg:col-2" *ngFor="let item of tvItems">
            <app-item [tvItemData]="item"></app-item>
         </div>
      </div>
   </ng-container>

</div>
