<ng-container *ngIf="tv">
   <app-slider [tvItems]="[tv]" [isBanner]="true"></app-slider>

   <p-tabView>
      <p-tabPanel header="Overview">
         <div class="grid">
            <div class="col-12 md:col-3 lg:col-3">
               <img class="poster" [src]="imagesSizes.medium+tv.poster_path" [alt]="tv.name">
            </div>
            <div class="col-12 md:col-9 lg:col-9">
               <h2>Overview</h2>
               <p class="overview">{{tv.overview}}</p>
               <div class="stat">
                  <div class="label">Release Date:</div>
                  <div class="value">{{tv.first_air_date|date:'mediumDate'}}</div>
               </div>
               <div class="stat">
                  <div class="label">Last Release:</div>
                  <div class="value">{{tv.last_air_date|date:'mediumDate'}}</div>
               </div>
               <div class="stat">
                  <div class="label">Language:</div>
                  <div class="value">{{tv.original_language|uppercase}}</div>
               </div>
               <div class="stat">
                  <div class="label">Seasons:</div>
                  <div class="value">{{tv.number_of_seasons}}</div>
               </div>
               <div class="stat">
                  <div class="label">Total Episodes:</div>
                  <div class="value">{{tv.number_of_episodes}}</div>
               </div>
               <div class="stat">
                  <div class="label">Duration:</div>
                  <div class="value">{{tv.runtime}} min</div>
               </div>
               <div class="stat">
                  <div class="label">Status:</div>
                  <div class="value">{{ tv.status }}</div>
               </div>
               <div class="stat">
                  <div class="label">Genres:</div>
                  <div class="value">
                     <span *ngFor="let genre of tv.genres">
                        {{ genre.name }}
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </p-tabPanel>
      <p-tabPanel header="Videos">
         <div class="grid">
            <ng-container *ngFor="let tvVideo of tvVideos">
               <div class="col-12 md:col-4 lg:col-4">
                  <app-video-embed [key]="tvVideo.key" [site]="tvVideo.site"></app-video-embed>
               </div>
            </ng-container>
         </div>
      </p-tabPanel>
      <p-tabPanel header="Photos">
         <div class="grid">
            <ng-container *ngFor="let tvImage of tvImages?.backdrops">
               <div class="col-12 md:col-4 lg:col-4">
                  <p-image
                     [src]="imagesSizes.large + tvImage.file_path"
                     alt="Image"
                     width="100%"
                     [preview]="true"
                  ></p-image>
               </div>
            </ng-container>
         </div>
      </p-tabPanel>
   </p-tabView>

   <p-carousel [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" *ngIf="tvCredits"
               [value]="tvCredits.cast">
      <ng-template pTemplate="header">
         <h3 class="header">Cast</h3>
      </ng-template>
      <ng-template let-actor pTemplate="item">
         <div class="actor">
            <img [src]="imagesSizes.medium + actor.profile_path" alt=""/>
            <span>{{ actor.name }}</span>
         </div>
      </ng-template>
   </p-carousel>

   <div class="container">
      <h1 class="">Related TV Shows</h1>
      <div class="grid">
         <div class="col-2 md:col-6 lg:col-2" *ngFor="let item of similarTVShows">
            <app-item [tvItemData]="item"></app-item>
         </div>
      </div>
   </div>

</ng-container>

