<ng-container [ngSwitch]="site">
   <ng-container *ngSwitchCase="'YouTube'">
      <iframe
         width="100%"
         height="315"
         [src]="videoUrl"
         title="YouTube video player"
         frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen>
      </iframe>
   </ng-container>
   <ng-container *ngSwitchCase="'Vimeo'">
      <iframe
         [src]="videoUrl"
         width="100%"
         height="360"
         frameborder="0"
         allow="autoplay; fullscreen; picture-in-picture"
         allowfullscreen>
      </iframe>
   </ng-container>
</ng-container>


